.header-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 100px;
}
.header-menu {
  padding: 0px 20px;
}
.header-menu > ul {
  font-size: 18px;
  display: flex;
  list-style-type: none;
}
.header-menu > ul > li {
  padding: 10px;
  margin: 10px;
}

.online {
  height: 5px;
  width: 5px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
.offline {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
